<template>
  <header class="app-bar">
    <div class="flex items-center">
      <div class="app-bar__brand">Arvan Challenge</div>
      <MenuIcon
        class="w-8 h-8 fill-white cursor-pointer p-1"
        @click="app.showSidebar = !app.showSidebar"
      />
      <div class="text-white ml-5" v-text="welcomeMsg" />
    </div>
    <CBtn text="Logout" size="sm" variant="outline" class="mr-4" @click="logout" />
  </header>
</template>

<script setup>
import MenuIcon from '@/components/icons/IconMenu.vue'
import CBtn from '@/components/ui-kit/CBtn.vue'

import { computed } from 'vue'

import router from '@/router'

import { useAppStore } from '@/stores/app'

const app = useAppStore()

const welcomeMsg = computed(() => {
  return `Welcome ${app.userInfo?.username}`
})

function logout() {
  window.localStorage.removeItem('arvan-user-info')
  app.initStore()
  router.push('/login')
}
</script>

<style>
.app-bar {
  height: var(--appbar-height);
  @apply w-full h-[60px] absolute top-0 left-0 bg-[#373a3c] flex items-center justify-between z-30;
  &__brand {
    width: var(--sidebar-width);
    @apply text-[22px] font-medium text-white pl-[18px] hidden;
  }
  @media (min-width: 768px) {
    .app-bar__brand {
      @apply group-[.sidebar-open]:block;
    }
  }
}
</style>
