<template>
  <aside>
    <div class="sidebar">
      <nav class="navigation">
        <ul>
          <li v-for="item in menu" :key="item.id">
            <a v-if="item.children" class="nav-item" href="#" @click.prevent="toggle(item)">
              <span v-text="item.title" class="flex-grow text-white" />
            </a>
            <router-link v-else :to="{ name: item.route }" class="nav-item">
              <span v-text="item.title" class="flex-grow text-white" />
            </router-link>
            <ul>
              <li v-for="m in item.children" :key="m.id">
                <router-link :to="{ name: m.route }" exact-active-class="active" class="nav-item">
                  <span v-text="m.title" class="text-white text-[15px] pl-6" />
                </router-link>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="sidebar-overlay" @click="app.showSidebar = false" />
  </aside>
</template>

<script setup>
import { useAppStore } from '@/stores/app'

const app = useAppStore()

let menu = [
  {
    id: 0,
    title: 'Post',
    route: '/',
    children: [
      {
        id: 0,
        title: 'All Articles',
        route: 'articles',
      },
      {
        id: 1,
        title: 'New Article',
        route: 'newArticle',
      },
    ],
  },
]

function toggle() {}
</script>

<style>
.sidebar {
  width: var(--sidebar-width);
  top: var(--appbar-height);
  @apply bg-primary absolute left-0 bottom-0 transition-all duration-300 ease-in-out -translate-x-full group-[.sidebar-open]:translate-x-0 z-50;
}
.nav-item {
  @apply h-[46px] w-full flex items-center p-2 cursor-pointer [&.active]:bg-white/30;
}
.sidebar-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-black/70 opacity-0 invisible transition-all duration-300 ease-in-out z-40;
}
.sidebar-open {
  .sidebar-overlay {
    @apply opacity-100 visible md:opacity-0 md:invisible;
  }
}
</style>
