<template>
  <div class="add-edit-article">
    <h3 class="text-3xl mb-4 font-semibold" v-text="isEditing ? 'Edit Article' : 'New Article'" />
    <form @submit.prevent="submit">
      <div class="grid md:grid-cols-5 gap-4 mb-4">
        <div class="col-span-3">
          <CInput v-model="form.title" label="Title" class="mb-3" :errors="v$.title.$errors" />
          <CInput
            v-model="form.description"
            label="Description"
            class="mb-3"
            :errors="v$.description.$errors"
          />
          <CInput
            v-model="form.body"
            label="Body"
            type="textarea"
            rows="6"
            :errors="v$.body.$errors"
          />
        </div>
        <div class="col-span-2">
          <TagSelect v-model="form.tagList" />
        </div>
      </div>
      <div class="w-full">
        <CBtn text="Submit" type="submit" :loading="loading" />
      </div>
    </form>
  </div>
</template>

<script setup>
import CInput from '@/components/ui-kit/CInput.vue'
import CBtn from '@/components/ui-kit/CBtn.vue'
import TagSelect from '@/components/article/TagSelect.vue'

import { computed, reactive, ref, watch } from 'vue'

import { useFetch } from '@/composables/useFetch'

import api from '@/config/api'

import { useRoute, useRouter } from 'vue-router'

import { useVuelidate } from '@vuelidate/core'
import { required } from '@vuelidate/validators'

const router = useRouter()
const route = useRoute()

let loading = ref(false)

let form = reactive({
  title: '',
  description: '',
  body: '',
  tagList: [],
})

const rules = {
  title: { required },
  description: { required },
  body: { required },
}
const v$ = useVuelidate(rules, form)

const isEditing = computed(() => {
  return !!route.params.slug
})

watch(
  isEditing,
  (val) => {
    if (val) getData()
    else fillForm()
  },
  { immediate: true },
)

async function submit() {
  const isValid = await v$.value.$validate()
  if (!isValid) return
  if (!isValid) return
  try {
    let url = isEditing.value ? api.article.replace('{slug}', route.params.slug) : api.articles
    loading.value = true
    await useFetch(url, {
      body: {
        article: form,
      },
      method: isEditing.value ? 'Put' : 'Post',
    })
    loading.value = false
    router.push({ name: 'articles' })
  } catch (e) {
    console.log(e)
    loading.value = false
  }
}

async function getData() {
  try {
    loading.value = true
    let url = api.article.replace('{slug}', route.params.slug)
    const response = await useFetch(url, {
      method: 'Get',
    })
    loading.value = false
    fillForm(response.article)
  } catch (e) {
    console.log(e)
    loading.value = false
  }
}

function fillForm(data) {
  form.title = data?.title || ''
  form.description = data?.description || ''
  form.body = data?.body || ''
  form.tagList = data?.tagList || []
}
</script>
