<template>
  <CTable
    :headers="headers"
    :items="items"
    :loading="loading"
    title="All Posts"
    @edit="editItem"
    @delete="deleteItem"
  >
    <template #col-tags="{ data }">
      <ul class="flex flex-wrap">
        <li
          v-for="(tag, i) in data.tags"
          :key="i"
          class="py-1 px-2 text-white bg-primary m-0.5 list-none rounded-lg"
          v-text="tag"
        />
      </ul>
    </template>
  </CTable>

  <DeleteArticle v-model:show="showDeleteModal" :slug="deletingArticle" @update="fetch" />
</template>

<script setup>
import CTable from '@/components/ui-kit/CTable.vue'
import DeleteArticle from '@/components/article/DeleteArticle.vue'

import { ref } from 'vue'

import { useRouter } from 'vue-router'

import { useFetch } from '@/composables/useFetch'

import api from '@/config/api'

const router = useRouter()

let loading = ref(false)

let showDeleteModal = ref(false)

let deletingArticle = ref(null)

const headers = [
  {
    key: 'title',
    title: 'Title',
    width: 'w-60',
    type: 'truncate',
  },
  {
    key: 'author',
    title: 'Author',
    width: 'w-40',
  },
  {
    key: 'tags',
    title: 'Tags',
    width: 'w-40',
  },
  {
    key: 'excerpt',
    title: 'Excerpt',
    width: 'w-40',
  },
  {
    key: 'created',
    title: 'Created',
    width: 'w-40',
  },
  {
    key: 'action',
    title: 'action',
    actions: ['edit', 'delete'],
    width: 'w-40',
  },
]

let items = ref([])

async function fetch() {
  try {
    loading.value = true
    const response = await useFetch(api.articles, {
      method: 'Get',
    })
    items.value = response.articles.map((article) => {
      return {
        title: article.title,
        author: article.author?.username,
        tags: article.tagList,
        slug: article.slug,
        excerpt: article.body.length >= 20 ? article.body.substring(0, 20) + '...' : article.body,
        created: article.createdAt.split('T')[0],
      }
    })
    loading.value = false
  } catch (e) {
    console.log(e)
    loading.value = false
  }
}

function editItem(item) {
  router.push({ name: 'editArticle', params: { slug: item.slug } })
}

function deleteItem(item) {
  deletingArticle.value = item.slug
  showDeleteModal.value = true
}

fetch()
</script>
