<template>
  <CModal v-model:show="isVisible" title="Delete Article" width="w-96" show-header>
    <div class="text-base">Are you sure to delete Article?</div>
    <div class="flex items-center justify-end mt-4">
      <CBtn
        text="No"
        size="sm"
        color="info"
        variant="outline"
        class="mr-2"
        @click="isVisible = false"
      />
      <CBtn text="Yes" size="sm" color="danger" :loading="loading" @click="onDelete" />
    </div>
  </CModal>
</template>

<script setup>
import CModal from '@/components/ui-kit/CModal.vue'
import CBtn from '@/components/ui-kit/CBtn.vue'

import { ref } from 'vue'

import { useFetch } from '@/composables/useFetch'

import api from '@/config/api'

import { toast } from 'vue3-toastify'
import 'vue3-toastify/dist/index.css'

const props = defineProps({
  slug: { type: String, default: null },
})

const emit = defineEmits(['update'])

const isVisible = defineModel('show')

let loading = ref(false)

async function onDelete() {
  try {
    loading.value = true
    let url = api.article.replace('{slug}', props.slug)
    await useFetch(url, {
      method: 'Delete',
    })
    toast.success('Well done! Deleted successfully', {
      position: toast.POSITION.TOP_RIGHT,
      transition: toast.TRANSITIONS.SLIDE,
      hideProgressBar: true,
    })
    loading.value = false
    isVisible.value = false
    emit('update')
  } catch (e) {
    loading.value = false
  }
}
</script>
