<template>
  <div class="tag-select">
    <CInput
      v-model="newTag"
      label="Tags"
      placeholder="New tag"
      class="mb-3"
      hide-error
      @keydown.enter="addTag"
    />
    <div class="w-full border rounded-lg p-3">
      <CCheckbox
        v-for="tag in tags"
        :key="tag"
        v-model="selfValue"
        :label="tag"
        :tag="tag"
        class="mb-2"
      />
      <div v-if="loading" class="flex items-center justify-center">
        <span class="text-sm mt-1 text-gray-600">Loading...</span>
        <LoadingIcon class="w-5 h-5 animate-spin" />
      </div>
      <div v-else-if="!tags.length" class="text-center text-sm text-gray-600">No tags</div>
    </div>
  </div>
</template>
<script setup>
import CCheckbox from '@/components/ui-kit/CCheckbox.vue'
import CInput from '@/components/ui-kit/CInput.vue'
import LoadingIcon from '@/components/icons/IconLoading.vue'

import { ref } from 'vue'

import { useFetch } from '@/composables/useFetch'

import api from '@/config/api'

let selfValue = defineModel()

let loading = ref(false)

let newTag = ref('')

let tags = ref([])

async function getTags() {
  try {
    loading.value = true
    const response = await useFetch(api.tags, {
      method: 'Get',
    })
    loading.value = false
    tags.value = response.tags.sort()
  } catch (e) {
    console.log(e)
    loading.value = false
  }
}

function addTag() {
  if (newTag.value) {
    tags.value.push(newTag.value)
    newTag.value = ''
  }
}

getTags()
</script>
