<template>
  <Component
    :is="tagName"
    :to="to"
    :type="type"
    :disabled="isDisabled"
    class="c-btn"
    :class="baseBtnClass"
  >
    <LoadingIcon v-if="loading" class="c-btn__loading" />
    <span v-else class="c-btn__append">
      <slot name="append" />
    </span>
    <span class="c-btn__text">
      <slot>{{ text }}</slot>
    </span>
    <span class="c-btn__prepend">
      <slot name="prepend" />
    </span>
  </Component>
</template>

<script setup>
import LoadingIcon from '@/components/icons/IconLoading.vue'

import { computed, watch, ref } from 'vue'

const props = defineProps({
  tag: {
    type: String,
    default: 'button',
  },
  to: {
    type: String,
    default: '',
  },
  type: {
    type: String,
    default: 'button',
  },
  color: {
    type: String,
    default: 'primary',
    validator: (val) => ['primary', 'warning', 'danger', 'info', 'success'].includes(val),
  },
  variant: {
    type: String,
    default: 'fill',
    validator: (val) => ['fill', 'outline', 'text'].includes(val),
  },
  size: {
    type: String,
    default: 'base',
    validator: (val) => ['sm', 'base', 'lg'].includes(val),
  },
  block: {
    type: Boolean,
    default: false,
  },
  loading: {
    type: Boolean,
    default: false,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  text: {
    type: String,
    default: '',
  },
})

let tagName = ref('')

const isDisabled = computed(() => {
  return props.disabled || props.loading
})

const colorStyle = computed(() => {
  return {
    primary: 'c-btn--color-primary',
    warning: 'c-btn--color-warning',
    danger: 'c-btn--color-danger',
    success: 'c-btn--color-success',
    info: 'c-btn--color-info',
  }[props.color]
})

const variantStyle = computed(() => {
  return {
    fill: 'c-btn--variant-fill',
    outline: 'c-btn--variant-outline',
    text: 'c-btn--variant-text',
  }[props.variant]
})

const sizeStyle = computed(() => {
  return {
    base: 'c-btn--size-base',
    sm: 'c-btn--size-sm',
    lg: 'c-btn--size-lg',
  }[props.size]
})

const baseBtnClass = computed(() => {
  return [
    colorStyle.value,
    variantStyle.value,
    sizeStyle.value,
    { 'c-btn--block': props.block },
    { 'c-btn--disabled': isDisabled.value },
  ]
})

watch(
  () => props.tag,
  (val) => {
    tagName.value = props.to ? 'RouterLink' : val
  },
  { immediate: true },
)
</script>

<style>
.c-btn {
  @apply text-center rounded flex items-center justify-center;
  &__append,
  &__prepend {
    svg {
      @apply w-5 h-5;
    }
  }
  &__append {
    @apply mr-1;
  }
  &__prepend {
    @apply ml-1;
  }

  &__loading {
    @apply w-5 h-5 mr-1 animate-spin;
  }

  &--disabled {
    @apply cursor-not-allowed opacity-70;
  }

  &--block {
    @apply w-full;
  }

  &--color-primary {
    @apply border border-transparent text-white [&.c-btn--variant-fill]:bg-primary [&.c-btn--variant-outline]:border-primary [&.c-btn--variant-outline]:text-primary [&.c-btn--variant-text]:text-primary;
  }
  &--color-warning {
    @apply border border-transparent text-white [&.c-btn--variant-fill]:bg-warning [&.c-btn--variant-outline]:border-warning [&.c-btn--variant-outline]:text-warning [&.c-btn--variant-text]:text-warning;
  }
  &--color-success {
    @apply border border-transparent text-white [&.c-btn--variant-fill]:bg-success [&.c-btn--variant-outline]:border-success [&.c-btn--variant-outline]:text-success [&.c-btn--variant-text]:text-success;
  }
  &--color-danger {
    @apply border border-transparent text-white [&.c-btn--variant-fill]:bg-error [&.c-btn--variant-outline]:border-error [&.c-btn--variant-outline]:text-error [&.c-btn--variant-text]:text-error;
  }
  &--color-info {
    @apply border border-transparent text-white [&.c-btn--variant-fill]:bg-gray-500 [&.c-btn--variant-outline]:border-gray-500 [&.c-btn--variant-outline]:text-gray-500 [&.c-btn--variant-text]:text-gray-500;
  }

  &--size-base {
    @apply px-5 py-2.5 text-sm font-medium;
  }
  &--size-sm {
    @apply px-3 py-2 text-sm font-medium;
  }
  &--size-lg {
    @apply px-5 py-3 text-base font-medium;
  }
}
</style>
