<template>
  <div class="flex items-center">
    <input
      :id="id"
      type="checkbox"
      v-model="selfValue"
      :value="tag"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
    />
    <label v-if="label" :for="id" class="ms-2 text-sm font-medium text-gray-900">{{ label }}</label>
  </div>
</template>

<script setup>
import { computed } from 'vue'

defineProps({
  label: { type: String, default: '' },
  tag: { type: String, default: '' },
})

let selfValue = defineModel()

const id = computed(() => {
  return Math.random() * 10000 + '-checkbox'
})
</script>
