<template>
  <div class="c-dropdown relative">
    <CBtn text="actions" size="sm" class="!px-2" @click="show = !show">
      <template #append>
        <ArrowDownIcon class="fill-white" />
      </template>
    </CBtn>
    <div
      class="z-10 bg-white divide-y divide-gray-100 rounded-lg border absolute right-px bottom-0 translate-y-full min-w-40"
      :class="show ? 'block' : 'hidden'"
    >
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
        <li
          v-for="(item, i) in items"
          :key="i"
          class="block px-4 py-2 hover:bg-gray-100 capitalize cursor-pointer border-b last:border-0"
          v-text="item"
          @click="select(item)"
        />
      </ul>
    </div>
  </div>
</template>

<script setup>
import CBtn from '@/components/ui-kit/CBtn.vue'
import ArrowDownIcon from '@/components/icons/IconArrowDown.vue'

import { ref } from 'vue'

defineProps({
  items: { type: Array, default: () => {} },
})

const emit = defineEmits(['select'])

let show = ref(false)

function select(item) {
  emit('select', item)
  show.value = false
}
</script>
