<template>
  <div class="c-input" :class="baseInputClass">
    <label
      v-if="label"
      ref="labelRef"
      :for="cid"
      class="c-input__label"
      @click.prevent="focus"
      v-text="label"
    />

    <div class="c-input__wrapper">
      <div v-if="prefix || $slots.prefix" class="c-input__prefix">
        <slot name="prefix">{{ prefix }}</slot>
      </div>

      <textarea
        v-if="type === 'textarea'"
        ref="input"
        v-model="selfValue"
        v-bind="attrs"
        :id="cid"
        class="c-input__field"
        @focus="onFocus"
        @blur="onBlur"
      />

      <input
        v-else
        ref="input"
        v-model="selfValue"
        v-bind="attrs"
        :id="cid"
        class="c-input__field h-10"
        @focus="onFocus"
        @blur="onBlur"
      />

      <div
        v-if="type === 'password'"
        class="c-input__suffix"
        @click.stop="isPasswordShown = !isPasswordShown"
      >
        <slot name="suffix">
          <i :class="isPasswordShown ? 'ic-hide' : 'ic-view'" />
        </slot>
      </div>

      <div v-if="suffix || $slots.suffix" class="c-input__suffix">
        <slot name="suffix">{{ suffix }}</slot>
      </div>
    </div>
    <ul v-if="!hideError" class="c-input__errors">
      <li v-for="(error, index) in errorMessages" :key="index" v-text="error" />
    </ul>
  </div>
</template>

<script setup>
import { ref, computed, nextTick, useAttrs } from 'vue'

const props = defineProps({
  type: { type: String, default: '' },
  label: { type: String, default: '' },
  prefix: { type: String, default: '' },
  suffix: { type: String, default: '' },
  errors: { type: Array, default: () => [] },
  disabled: { type: Boolean, default: false },
  readonly: { type: Boolean, default: false },
  hideError: { type: Boolean, default: false },
})

let loading = ref(false)

let selfValue = defineModel()

let input = ref(null)

let focused = ref(false)

let isPasswordShown = ref(false)

const cid = computed(() => {
  return props.id || 'c-input_' + Math.random().toString(36).substring(2)
})

const isDisabled = computed(() => {
  return props.disabled || loading.value
})

const errorMessages = computed(() => {
  return props.errors.map((error) => {
    return error.$message.replace('Value', error.$property)
  })
})

const attrs = computed(() => {
  let attrs = useAttrs()
  attrs = Object.keys(attrs)
    .filter((key) => key !== 'class' && key !== 'id')
    .reduce((obj, key) => {
      obj[key] = attrs[key]
      return obj
    }, {})
  return {
    ...attrs,
    disabled: isDisabled.value,
  }
})

const baseInputClass = computed(() => {
  return {
    'c-input--has-error': !!props.errors.length,
    'c-input--focused': focused.value,
  }
})

function onFocus(e) {
  if (props.readonly || props.disabled) {
    return e?.preventDefault()
  }
  focused.value = true
}

function onBlur() {
  focused.value = false
}

function focus() {
  nextTick(() => {
    if (input.value) input.value.focus()
  })
}
</script>

<style>
.c-input {
  &__label {
    @apply text-base text-[#373a3c];
  }
  &__wrapper {
    @apply w-full bg-white flex items-center rounded border border-[#dddddd];
  }
  &__field {
    @apply w-full bg-transparent py-2 px-3 focus:outline-0;
  }
  &__suffix {
    @apply pr-2;
  }
  &__prefix {
    @apply pl-2;
  }
  &__errors {
    @apply min-h-6 mt-1 text-error text-base;
  }
  &--focused {
    .c-input__wrapper {
      @apply border-primary;
    }
  }
  &--has-error {
    .c-input__wrapper {
      @apply border-error;
    }
    .c-input__label {
      @apply text-error;
    }
  }
}
</style>
