<template>
  <Teleport to="body">
    <div ref="modal" class="relative z-[100] transition-opacity duration-200 ease-in">
      <Transition v-bind="transition">
        <div
          v-if="isVisible"
          v-show="isVisible"
          role="dialog"
          class="w-full h-full fixed left-0 bottom-0 z-[2]"
        >
          <div class="h-full flex justify-center items-center p-4 sm:p-6">
            <div ref="dialog" class="bg-white m-auto" :class="width">
              <div class="content">
                <header
                  v-if="hasHeader"
                  class="header flex justify-between items-center p-4 border-b"
                  :class="headerClass"
                >
                  <slot name="header">
                    <span class="ft-modal__title font-semibold text-[#373a3c]" v-text="title" />
                  </slot>
                  <CloseIcon class="cursor-pointer" @click="isVisible = false" />
                </header>
                <div class="body p-4" :class="bodyClass">
                  <slot />
                </div>
                <footer v-if="hasFooter" class="footer" :class="footerClass">
                  <slot name="footer" />
                </footer>
              </div>
            </div>
          </div>
        </div>
      </Transition>
      <Transition v-bind="transition">
        <div
          v-if="isVisible"
          class="zi-modal__backdrop w-full h-full fixed top-0 left-0 z-[1] bg-black bg-opacity-80"
        />
      </Transition>
    </div>
  </Teleport>
</template>

<script setup>
import { computed } from 'vue'

import CloseIcon from '@/components/icons/IconClose.vue'

const props = defineProps({
  title: { type: String, default: null },
  width: { type: String, default: 'max-w-xl' },
  plain: { type: Boolean, default: false },
  showClose: { type: Boolean, default: true },
  showHeader: { type: Boolean, default: undefined },
  headerClass: { type: [Object, Array, String], default: null },
  bodyClass: { type: [Object, Array, String], default: null },
  footerClass: { type: [Object, Array, String], default: null },
})

const isVisible = defineModel('show')

const transition = computed(() => {
  return {
    'enter-active-class': 'transition ease-out duration-200 transform',
    'enter-from-class': 'opacity-0',
    'enter-to-class': 'opacity-100',
    'leave-active-class': 'transition ease-in duration-200 transform',
    'leave-from-class': 'opacity-100',
    'leave-to-class': 'opacity-0',
  }
})

const hasHeader = computed(() => {
  return !props.plain && props.showHeader
})

const hasFooter = computed(() => {
  return !props.plain
})
</script>
