<template>
  <div class="c-table relative overflow-x-auto">
    <h3 v-text="title" class="text-3xl mb-4 font-semibold" />
    <table class="w-full text-sm text-gray-500 table-fixed">
      <thead class="text-base text-gray-700 bg-gray-50">
        <tr>
          <th
            v-for="header in headers"
            :key="header.key"
            class="p-3 text-left"
            :class="header.key === 'action' ? 'w-[115px]' : header.width"
          >
            {{ header.title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in items" :key="i" class="bg-white border-b">
          <td
            v-for="header in headers"
            :key="header.key"
            class="w-full p-3 font-medium text-gray-900"
            :class="header.type"
          >
            <slot v-if="header.key === 'action'" name="action">
              <CDropdown :items="header.actions" @select="(action) => $emit(action, item)" />
            </slot>
            <slot v-else :name="`col-${header.key}`" :data="item">{{ item[header.key] }}</slot>
          </td>
        </tr>
        <tr v-if="loading">
          <td colspan="12" class="px-6 py-4 text-center">Loading...</td>
        </tr>
        <tr v-else-if="!items.length">
          <td colspan="12" class="px-6 py-4 text-center">No Items</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import CDropdown from '@/components/ui-kit/CDropdown.vue'

defineProps({
  title: { type: String, default: '' },
  headers: { type: Array, default: () => [] },
  items: { type: Array, default: () => [] },
  loading: { type: Boolean, default: false },
})
</script>
