<template>
  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M32.825 7.125C32.825 6.7875 32.7125 6.5625 32.4875 6.3375C32.2625 6.1125 32.0375 6 31.7 6C31.3625 6 31.1375 6.1125 30.9125 6.3375L27.875 9.375C25.625 8.25 23.0375 7.575 20 7.2375C14.375 7.8 9.875 9.825 6.725 13.425C3.575 17.025 2 19.05 2 19.6125C2 20.175 3.6875 22.2 6.725 25.8C7.5125 26.7 8.3 27.4875 9.3125 28.1625L6.275 31.3125C6.05 31.5375 5.9375 31.7625 5.9375 32.1C5.9375 32.4375 6.05 32.6625 6.275 32.8875C6.5 33.1125 6.725 33.225 7.0625 33.225C7.4 33.225 7.625 33.1125 7.85 32.8875L32.6 7.9125C32.7125 7.6875 32.825 7.4625 32.825 7.125V7.125ZM10.1 25.6875C7.4 23.2125 5.6 21.1875 4.7 19.6125C5.7125 17.925 7.5125 15.9 10.1 13.5375C12.6875 11.175 16.0625 9.7125 20 9.4875C22.25 9.6 24.3875 10.1625 26.1875 11.0625L24.275 12.975C23.0375 12.1875 21.6875 11.7375 20 11.7375C17.75 11.7375 15.95 12.525 14.375 13.9875C12.8 15.45 12.125 17.3625 12.125 19.6125C12.125 21.3 12.575 22.7625 13.3625 24L11 26.475C10.6625 26.25 10.325 25.9125 10.1 25.6875V25.6875ZM15.05 22.3125C14.6 21.525 14.375 20.625 14.375 19.6125C14.375 18.0375 14.9375 16.6875 16.0625 15.675C17.1875 14.6625 18.425 13.9875 20 13.9875C21.0125 13.9875 21.9125 14.2125 22.5875 14.6625L15.05 22.3125ZM33.275 13.425C32.825 12.8625 32.2625 12.4125 31.8125 11.9625L30.125 13.65C32.7125 16.0125 34.5125 18.0375 35.4125 19.6125C34.4 21.3 32.6 23.325 30.0125 25.6875C27.425 28.05 23.9375 29.5125 20 29.7375C18.2 29.625 16.5125 29.2875 15.05 28.725L13.3625 30.4125C15.3875 31.2 17.525 31.7625 20 31.9875C25.625 31.425 30.125 29.4 33.275 25.8C36.425 22.2 38 20.175 38 19.6125C38 19.05 36.3125 17.025 33.275 13.425V13.425Z"
      fill="black"
    />
    <path
      d="M20.0001 25.2375C19.5501 25.2375 19.1001 25.125 18.6501 25.0125L16.8501 26.8125C17.8626 27.2625 18.8751 27.4875 20.0001 27.4875C22.2501 27.4875 24.0501 26.7 25.6251 25.2375C27.0876 23.775 27.8751 21.8625 27.8751 19.6125C27.8751 18.4875 27.6501 17.3625 27.2001 16.4625L25.4001 18.2625C25.5126 18.7125 25.6251 19.1625 25.6251 19.6125C25.6251 21.1875 25.0626 22.5375 23.9376 23.55C22.8126 24.5625 21.5751 25.2375 20.0001 25.2375V25.2375Z"
      fill="black"
    />
  </svg>
</template>
