<template>
  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M20 8C31.25 8 38 20.375 38 20.375C38 20.375 31.25 32.75 20 32.75C8.75 32.75 2 20.375 2 20.375C2 20.375 8.75 8 20 8ZM20 10.25C12.08 10.25 6.4955 17.5648 4.64375 20.375C6.49325 23.183 12.0778 30.5 20 30.5C27.92 30.5 33.5045 23.1852 35.3562 20.375C33.5067 17.567 27.9222 10.25 20 10.25V10.25ZM20 12.5C22.0886 12.5 24.0916 13.3297 25.5685 14.8065C27.0453 16.2834 27.875 18.2864 27.875 20.375C27.875 22.4636 27.0453 24.4666 25.5685 25.9435C24.0916 27.4203 22.0886 28.25 20 28.25C17.9114 28.25 15.9084 27.4203 14.4315 25.9435C12.9547 24.4666 12.125 22.4636 12.125 20.375C12.125 18.2864 12.9547 16.2834 14.4315 14.8065C15.9084 13.3297 17.9114 12.5 20 12.5V12.5ZM20 14.75C18.5087 14.7518 17.079 15.345 16.0245 16.3995C14.97 17.454 14.3768 18.8837 14.375 20.375C14.375 23.4755 16.8973 26 20 26C23.1027 26 25.625 23.4755 25.625 20.375C25.625 17.2745 23.1027 14.75 20 14.75Z"
      fill="black"
    />
  </svg>
</template>
