<template>
  <div class="app">
    <component :is="layout" class="h-full w-full">
      <RouterView />
    </component>
  </div>
</template>
<script setup>
import { computed } from 'vue'

import { useRoute } from 'vue-router'

const route = useRoute()

const layout = computed(() => {
  return route.meta.layout || 'div'
})
</script>
