<template>
  <div class="h-screen relative" :class="app.showSidebar && 'group sidebar-open'">
    <AppBar />
    <SideBar />
    <main class="main">
      <div class="container mt-6">
        <slot />
      </div>
    </main>
  </div>
</template>

<script setup>
import SideBar from '@/layouts/components/SideBar.vue'
import AppBar from '@/layouts/components/AppBar.vue'

import { useAppStore } from '@/stores/app'

const app = useAppStore()
</script>

<style>
.main {
  height: 100%;
  padding-top: var(--appbar-height);
  overflow-y: scroll;
}
.sidebar-open {
  .main {
    @media (min-width: 768px) {
      padding-left: var(--sidebar-width);
    }
  }
}
</style>
