<template>
  <div class="h-full flex items-center justify-center">
    <div class="w-[450px] bg-[#eceeef] p-5 rounded-[4px] my-16 mx-3">
      <form @submit.prevent="submit">
        <h4 class="text-center text-[47px] font-normal text-[#707070] mb-4">LOGIN</h4>
        <c-input v-model="form.email" label="Email" class="mb-4" :errors="v$.email.$errors" />
        <c-input
          v-model="form.password"
          label="Password"
          class="mb-8"
          :errors="v$.password.$errors"
        />
        <c-btn block text="Login" type="submit" :loading="loading" />
      </form>
      <div class="flex items-center mt-2">
        <span class="text-base font-normal text-[#373a3c]">Don’t have account?</span>
        <CBtn
          text="Register Now"
          variant="text"
          size="sm"
          to="/register"
          class="!font-bold !text-base !text-[#373a3c] !p-1"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import CInput from '@/components/ui-kit/CInput.vue'
import CBtn from '@/components/ui-kit/CBtn.vue'

import { reactive, ref } from 'vue'

import { useVuelidate } from '@vuelidate/core'
import { required } from '@vuelidate/validators'

import { useRouter } from 'vue-router'

import { useAppStore } from '@/stores/app'

import { useFetch } from '@/composables/useFetch'

import api from '@/config/api'

const router = useRouter()

const app = useAppStore()

let loading = ref(false)

let form = reactive({
  email: '',
  password: '',
})

const rules = {
  email: { required },
  password: { required },
}
const v$ = useVuelidate(rules, form)

async function submit() {
  const isValid = await v$.value.$validate()
  if (!isValid) return
  try {
    loading.value = true
    const response = await useFetch(api.login, {
      body: {
        user: form,
      },
      method: 'Post',
    })
    loading.value = false
    window.localStorage.setItem('arvan-user-info', JSON.stringify(response.user))
    app.initStore()
    router.push('/')
  } catch (e) {
    console.log(e)
    loading.value = false
  }
}
</script>
